# Avoid opening a browser instance on every `yarn start`
BROWSER=none

# Use HTTPS for development server
HTTPS=false

# 1DS telemetry tenant key
REACT_APP_ONEDS_TENANT_KEY=

# Root URL for STAC and Data endpoints
REACT_APP_API_ROOT=https://planetarycomputer-staging.microsoft.com

# Root URL for image function app endpoints
REACT_APP_IMAGE_API_ROOT=

# Client Id for Azure Maps
REACT_APP_AZMAPS_CLIENT_ID=0ba71e87-2836-4f72-82b8-8093147375c7

# URL for JHub cloned repo launch (including 'git-pull')
REACT_APP_HUB_URL=
