version: "2.4"
services:
  app:
    image: node:14.19.3-slim
    working_dir: /usr/src
    ports:
      - "3000:3000"
      - "4280:4280"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=100

      # Environments where .env is present will mount and use it. CI will need
      # environment variables set via GH Actions to test and build.
      - REACT_APP_API_ROOT
      - REACT_APP_IMAGE_API_ROOT
      - REACT_APP_ONEDS_TENANT_KEY
      - REACT_APP_HUB_URL
    volumes:
      - .:/usr/src
      - ~/.npm:/root/.npm
    networks:
      - pcdc-network
    command: npm start

  api:
    build:
      context: api
      dockerfile: Dockerfile
    working_dir: /usr/src
    ports:
      - "7071:7071"
      - "8000:8000"
    volumes:
      - ./api:/usr/src
      - ~/.azure:/root/.azure
    networks:
      pcdc-network:
    command: func host start --script-root ./ --cors "*" --port 7071

  etl:
    build:
      context: etl
      dockerfile: Dockerfile
    ports:
      - "8889:8889"
    volumes:
      - .:/opt/src
    working_dir: /opt/src/etl

  mockstac:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.7
    ports:
      - "8866:80"
    volumes:
      - ./mockstac/app:/app
      - ./mockstac/data:/data

networks:
  pcdc-network:
