/* Styles that can't otherwise be overloaded via fluent ui components */

.ms-CalendarDay-daySelected .ms-CalendarDay-dayIsToday {
  color: white;
  font-weight: 500;
}

.ms-Stack .ms-layer {
  margin: 0;
}

.map-copyright {
  padding-top: 2px;
  padding-bottom: 2px;
}

.azure-map-copyright {
  margin-right: 0;
  margin-left: 0;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.legend-item-separator:last-child {
  display: none;
}

.ms-Modal h2 {
  padding-left: 8px;
}

.ms-Modal .catalog-collection-item img {
  width: 200px;
  height: 112px;
}

.ms-Modal h2 {
  scroll-margin-top: 80px;
}

@media screen and (min-width: 480px) {
  .ms-Modal .ms-SearchBox {
    min-width: 300px;
  }
}
