# Notebook ETL
ipython==7.22.0
nbconvert==6.0.*

# Sphinx docs rendering
Jinja2==2.11.3
myst-parser>=0.13.5
nbsphinx==0.8.3
nbconvert==6.0.*
nbformat==5.1.3
numpydoc==1.1.0
pyyaml==5.4.1
requests
sphinx==3.5.4
