body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Generalized grid layouts */
@media screen and (min-width: 800px) {
  .column-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .toc-item {
    width: 200px;
  }

  .cl-item {
    max-width: 70%;
    margin-right: 60px;
  }
}

@media screen and (max-width: 995px) {
  .cl-item {
    max-width: 100%;
  }
}

.cl-item {
  margin-bottom: 30px;
}

.xds-item, .toc-item {
  padding: 15px;
  margin: 5px;
}

.toctree-wrapper ul {
  list-style-type: none;
  margin: 0 2px;
  padding: 0;
}

.toctree-wrapper .caption {
  font-weight: bold;
  margin-bottom: 2px;
}

/* Documentation markup from generated sources */
.generated-docs img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* Corporate footer styling from UHF */

.c-uhff-base {
    background: #f2f2f2;
    margin: 0 auto;
    max-width: calc(1600px + 10%);
    padding: 5px 10% 5px;
}

.c-uhff-base ul.c-list {
    font-size: 11px;
    line-height: 16px;
    color: #616161;
}

.c-list.f-bare {
    padding-left: 0;
    list-style-type: none;
}

.c-uhff-base ul.c-list li {
    padding: 0 24px 4px 0;
    display: inline-block;
}
.context-uhf a:link, .context-uhf a:focus, .context-uhf a:hover, .context-uhf a:active, .context-uhf a:visited {
    text-decoration: none;
    color: inherit;
}